<mat-card>
    <h1>student</h1>
    <form >
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Psy Grade</mat-label>
              <input matInput 
                [(ngModel)] = "psy"
                name = "psy"
                type="number"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Av Math</mat-label>
              <input matInput 
                [(ngModel)] = "avmat" 
                name = "avmat" 
                type="number"
                required>
            </mat-form-field>
          </p>               
          <p>
            
              
            <mat-label>Pay?</mat-label>
                <mat-select place-holder = "pay" [(ngModel)] = "pay" name = "pay" required>
                  <mat-option *ngFor="let pay of paies" [value]="pay.name">
                    {{pay.name}}
                  </mat-option>
                </mat-select>
          </p>                       
        <div >
            <button mat-raised-button color="primary" (click)="predict()">predict
                   
            </button> 
            <p> the result is : {{result}}</p>
            
        </div>

        <div>
          <button mat-raised-button color="primary" (click)="add()" [disabled]="result == null">save</button>
                   
         
        </div>
      </div>
    </form>
   </mat-card>



