<mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let student of students">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{student.id}}
        </mat-panel-title>
        <mat-panel-description>
         psy grade: {{student.psy}}
          <br>av math grade{{student.avmat}}<br>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{student.result}}</p>
      <button mat-raised-button color="warn" (click)="deletestudent(student.id)">Delete</button>
    </mat-expansion-panel>
    
  </mat-accordion>